<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- ########## MODAL TEMPLATE ########## -->
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <!--
                        <div class="modal-header">
                            <slot name="header">
                                default header
                            </slot>
                        </div>
                        -->

                        <div class="modal-body">
                            <slot name="body">
                                default body
                            </slot>
                        </div>

                        <!--
                        <div class="modal-footer">
                            <slot name="footer">
                                default footer
                                <button class="modal-default-button" @click="$emit('close')">
                                        OK
                                    </button>
                            </slot>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <title>บ้านนายดิน</title>
</head>

<body>
    <div id="app" class="container">
        <header>
            <p>บ้านนายดิน</p>
        </header>

        <main>
            <div class="item-list">
                <table class="item-table" id="item-list">
                    <caption class="header">โปรแกรมคำนวณโปรโมชั่น</caption>

                    <thead>
                        <tr>
                            <th scope="col">รายการ</th>
                            <th scope="col">ราคา</th>
                            <th scope="col">จำนวน</th>
                            <th scope="col">แก้ไข</th>
                            <th scope="col">ลบ</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="item, index in itemData" class="item-section">
                            <td scope="row" data-label="รายการ" class="name-col">
                                {{ (index + 1) }}. {{ item.name }}
                            </td>

                            <td data-label="ราคา">
                                {{ parseInt(item.price).toLocaleString() }} ( {{ (parseInt(item.price) * parseInt(item.amount)).toLocaleString() }} )
                            </td>

                            <td data-label="จำนวน">
                                {{ parseInt(item.amount).toLocaleString() }}
                            </td>

                            <td data-label="แก้ไข">
                                <i class="fa fa-edit editBtn" @click="editItem(index)"></i>
                            </td>

                            <td data-label="ลบ">
                                <i class="fa fa-trash deleteBtn" @click="delItem(index)"></i>
                            </td>
                        </tr>

                        <tr class="item-section">
                            <th class="title">รวม</th>
                            <td data-label="รวม" class="total" colspan="4">
                                <span ref="total">0</span>
                            </td>
                        </tr>

                        <tr class="item-section">
                            <th class="title">ส่วนลด</th>
                            <td data-label="ส่วนลด" class="discount" colspan="4">
                                <span ref="discount">0</span>
                            </td>
                        </tr>

                        <tr class="item-section">
                            <th class="title">ราคาสุทธิ</th>
                            <td data-label="ราคาสุทธิ" class="net" colspan="4">
                                <span ref="nettotal">0</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="5">
                                <button type="submit" class="addBtn" @click="showModal('add')">เพิ่มสินค้า</button>
                                <button type="submit" class="calcBtn" @click="calcPromo">คำนวณ</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- ########## ADD MODAL ########## -->
                <modal v-if="addModal" @close="closeModal('add')">
                    <div slot="body">
                        <h1> เพิ่มสินค้า </h1>

                        <table class="modal-table">
                            <tr>
                                <td colspan="2">
                                    <!--
                                    <input type="text" ref="itemName" v-model="currentName" placeholder="ชื่อ" style="text-align: center">
                                    -->

                                    <select v-model="selectIndex" @change="onSelected" ref="itemSelect" required>
                                        <option v-bind:value="{ value: -1 }" disabled>กรุณาเลือกสินค้า</option>
                                        <option v-for="item, index in books"  v-bind:value="{ value: index }">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <input type="text" ref="itemPrice" v-model="currentItem.price" placeholder="ราคา" style="text-align: center" disabled>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <input type="number" min="1" ref="itemAmount" v-model="currentItem.amount" placeholder="จำนวน" style="text-align: center">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <button type="submit" class="confirmBtn" @click="addItem">ยืนยัน</button>
                                </td>

                                <td>
                                    <button type="submit" class="cancelBtn" @click="closeModal('add')">ยกเลิก</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </modal>

                <!-- ########## EDIT MODAL ########## -->
                <modal v-if="editModal" @close="closeModal('edit')">
                    <div slot="body">
                        <h1> แก้ไขสินค้า </h1>

                        <table class="modal-table">
                            <tr>
                                <td colspan="2">
                                    <select v-model="selectIndex" @change="onSelected" ref="itemEditSelect" required>
                                        <option v-bind:value="{ value: -1 }" disabled>กรุณาเลือกสินค้า</option>
                                        <option v-for="item, index in books"  v-bind:value="{ value: index }">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <input type="text" ref="itemEditPrice" v-model="currentItem.price" placeholder="ราคา" style="text-align: center" disabled>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <input type="number" min="1" ref="itemEditAmount" v-model="currentItem.amount" placeholder="จำนวน" style="text-align: center">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <button type="submit" class="confirmBtn" @click="confirmEdit">ยืนยัน</button>
                                </td>

                                <td>
                                    <button type="submit" class="cancelBtn" @click="closeModal('edit')">ยกเลิก</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </modal>
            </div>
        </main>
    </div>
</body>

<script src="js/script.js"></script>

</html>